@import "../../../../assets/colors";



.storesOptions {
  display: flex;
  padding: 1em;
}

.addBtn {
  color: $blue;
  font-weight: bold;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  border: $grayline;

  &:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }
}

.submitBtn {
  color: white;
  font-weight: bold;
  background-color: $blue;
  border-radius: 1em;
  border: $grayline;
  padding: .5em;
  margin: 1em;

  &:hover {

    cursor: pointer;
  }
}

.newStoreForm {
  position: fixed;
  width: calc(100vw - 250px);
  min-width: max-content;
  height: 80%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storeForm {
  background-color: white;
  opacity: 1;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 10px 10px 100px 10px gray;
}

.topForm {
  width: 100%;
  display: flex;
  padding: .5em;
  align-items: center;
}

.closeBtn {
  font-size: 2em;
  height: 100%;
  color: red;

  &:hover {
    color: rgb(160, 0, 0);
    cursor: pointer;
  }

}

.formTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
}

.backBtn {
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  flex-direction: column;
  padding: 1em;
  overflow-y: scroll;
  display: flex;
}

.prompt {
  font-weight: bold;
  padding-bottom: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.form input {
  padding-left: .5em;
  height: 2em;
  border-radius: 1em;
  border: $grayline;
  font-size: 1.2em;
  font-weight: bold;
}

.wrapper {
  margin: 2em;
  width: 100%;
  margin-bottom: 2em;
  overflow-y: scroll;
  overflow: visible;
  box-sizing: content-box;
  min-width: fit-content;
}

.storesGrid {
  display: grid;
  gap: 2em;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.storeCard {
  background-color: white;
  aspect-ratio: 1/1;
  border-radius: 1em;
  border: $grayline;
  display: flex;
  flex-direction: column;
  transition: 0.1s ease-out;
  padding: 1em;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    border-color: $dark;
  }

  & * {
    white-space: nowrap;
  }
}

.rightBarWrapper {
  width: 20%;
  height: 100%;
  right: 0;
  position: relative;
  margin: 1em;
}

.rightBar {
  position: fixed;
  border-left: $grayline;
  display: flex;
  justify-content: left;
  color: gray;
  padding-left: 1em;
  height: 100%;
  flex-direction: column;
  gap: .5em;

  & div:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.gridHeader {
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.headerAddBtn {
  display: flex;
  color: $blue;
  transition: 0.15s ease-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}