@import "../../assets/colors";

.managerApp {
  background-color: white;
  max-width: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.topbarContainer {
  z-index: 1;
  margin: 0;
  width: calc(100% - 250px);
  position: fixed;
  transition: all 0.3s ease;
}

.topbarSafezone {
  min-height: 50px;
  background-color: white;
  overflow: visible;
  max-width: 100%;
}

.rightBarWrapper {
  width: 25%;
  height: 100%;
  right: 0;
  position: relative;
  margin: 1em;
}

.wrapper {
  margin: 2em;
  max-width: 75%;
  min-width: 75%;
  height: 100%;
  margin-bottom: 2em;
  overflow-y: scroll;
  overflow: visible;
  box-sizing: content-box;
}

.rightBar {
  position: fixed;
  border-left: $grayline;
  display: flex;
  justify-content: left;
  color: gray;
  padding-left: 1em;
  height: 100%;
  flex-direction: column;
  gap: .5em;

  & div:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}