@import "../../assets/colors";

.managerApp {
  background-color: white;
  max-width: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.topbarContainer {
  z-index: 1;
  margin: 0;
  width: calc(100% - 250px);
  position: fixed;
  transition: all 0.3s ease;
}

.topbarSafezone {
  min-height: 50px;
  overflow: visible;
}

.rightBarWrapper {
  white-space: nowrap;
  min-width: 20%;
  border-left: $grayline;
  align-items: right;
}


.rightBar {
  min-width: 100%;
  padding: 2em;
  color: $blue;
  height: 100%;
  flex-direction: column;
  font-size: 1.2em;

  & div {
    max-width: 100%;
    text-align: end;
  }

  & div:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.wrapper {
  margin: 2em;
  max-width: 75%;
  min-width: fit-content;
  height: 100%;
  margin-bottom: 2em;
  overflow-x: hidden;
  overflow: visible;
}