@import '../../../../../assets/colors';

.managerHomeHeader {
    background-color: white;
    border-bottom: $grayline;
    overflow: visible;
    max-width: 100%;
}

.managerHomeHeaderContainer {
    width: 100%;
    padding: 0em 5em
}

.managerHomeHeaderContainer h1 {
    margin: auto;
    width: fit-content;
    text-align: center;
    font-size: 50px;
}

.managerHomeHeaderContainer h2 {
    padding: 30px;
    margin: auto;
    width: fit-content;
    text-align: center;
    outline: red 1px;
}